services:
  # Aplicación Spring Boot 
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: tareas-app
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
    ports:
      - "${SPRING_APP_PORT}:9020"
    networks:
      - dwcs
    restart: unless-stopped

# Volúmenes para persistencia de datos
volumes: 
  postgres_data: 

# Rede para comunicación entre contenedores
networks: 
  dwcs:
    driver: bridge